@media (min-width: 768px) {
  .contenedor-curriculum {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 1.5rem;
}

.contenedor-curriculum p {
  font-size: 1.5rem;
}
}

.contenedor-curriculum img{
  width: 100%;
  height: auto;
}

.contenedor-curriculum p {
  font-size: 2rem;
}

.contenedor-curriculum  .habilidades {
  color: var(--sedundario);
}